
.datepicker-date-display{
  background-color: rgb(255, 75, 20);

}
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done{
    color: #7a7a7a;
}
.dropdown-content li>a, .dropdown-content li>span{
    color: #7a7a7a;
}

.dataTables_wrapper{
    width : 100% !important;
}

.icon_style{
    position: absolute !important;
    right: 10px !important;
    top: 10px !important;
    font-size: 20px !important;
    color: white !important;
    cursor:pointer !important;
}